body,
main {
  margin: 0;
}
#header {
  height: 100%;
  width: 100%;
}
.search-bar {
  height: 45px;
  width: 100%;
  border: none;
  margin-top: -0.2%;
}
.search-bar-container{
    position: relative;
}
.search-bar-container-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    border-radius: 8px;
    width: 84.5%;
    margin-left: 7.5%;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .search-bar-container div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    
  }
  .search-bar-container-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
#search {
  border: 1px solid #dedfe0;
  border-radius: 8px;
  background-color: #f0f1f2;
  font-size: 16px;
  font-family: Lato, Corbel, ‘Lucida Grande’, ‘Lucida Sans Unicode’,
    ‘DejaVu Sans’, ‘Bitstream Vera Sans’, ‘Liberation Sans’, Verdana,
    ‘Verdana Ref’, sans-serif;
  height: 48px;
  color: #053361;
  margin: 0 0 0 7.5%;
  outline: none;
  padding: 0 0 0 16px;
  width: 84.5%;
  -webkit-appearance: none;
}
input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-size: 14.5px;
    opacity: 1; /* Firefox */
  }
#search-button {
  border: none;
  margin-left: -2.6%;
  height: 100%;
  vertical-align: -6px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
display: none; 
}
#body-img{
    height: 100%;
    width: 100%;
    margin-top: 1.65%;
}
